<h2>Preview: raw html</h2>
<div class="preview-layout">{{ output }}</div>
<button class="button" (click)="preview()">Preview</button>
<button class="button" (click)="setContent()">setContent</button>

<textarea id="editor" name="editor"></textarea>

<h2>Lưu ý:</h2>
<a href="https://www.npmjs.com/package/jodit"
  >https://www.npmjs.com/package/jodit</a
>

<p>Trang này cho phép thiết lập tùy chọn option rất nhanh:</p>
<a
  href="https://xdsoft.net/jodit/play.html?toolbarSticky=false&currentTab=Plugins"
  >https://xdsoft.net/jodit/play.html?toolbarSticky=false&currentTab=Plugins</a
>
<p>
  Tài liệu ít. Search trên StackoverFlow ko hiện ra. Search: “jodit event
  change” ko thấy kết quả.
  <br />
  Jotdit hỗ trợ TypeScript nhưng build bị fail, jump hàm lỗi lung tung cả.
  <br />
  thà javaScript luôn rồi cài đặt @type còn dễ trace code hơn.
  <br />
  Ko hỗ trợ import Ảnh dạng mã hóa URL-base64.
</p>
<p style="color: red">
  Bug: ko lấy đc value khi change text ở runtime => search ko ra cách fix bug.
  <br />
  Nhược: phần Edit sơ sài chỉ thay đổi đc theo từng line (rất nhiều open source
  bị vậy)
  <br />
  ko co rãn đc edit size giống như tinymce
</p>

<p>Ưu điểm: nó cho phép show code để sửa trực tiếp trên code.</p>
